 html {
	font-size: 20px;
 }

.app {
  --primary-color: #A0522D;
  font-family: 'Yanone bold';
}

.modal {
	position: relative;
	--primary-color: #A0522D;
  font-family: 'Yanone bold';

	.modal__button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}
}

@font-face {
	font-family: 'Yanone'; 
	src: url(assets/fonts/yanone/YanoneKaffeesatz-Medium.ttf) format('truetype'); 
}
 
@font-face {
	font-family: 'Yanone bold'; 
	src: url(assets/fonts/yanone/YanoneKaffeesatz-Bold.ttf); 
}
